body {
  background: url("https://github.com/christinegillis/Train-App/blob/master/assets/images/rails.jpeg?raw=true") no-repeat center center;
  width: 100%;
}

.jumbotron, .panel > .panel-heading {
    color: #fff;
    text-align: center;
    background-color: #122b33;
}
